//FONCTIONNEMENT (PAGE PRINCIPALE)
.functioning {
    &-insert {
        padding-bottom: 50px;
    }
    &__title {
        font-weight: bold;
        font-size: 1.5rem;
        padding: 50px 0 10px 20px;
        margin: 0;
    }
    &-insert__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        background: #F6F6F6;
        border-radius: 20px;
        margin: 10px 20px 20px 25px;
        box-shadow: 2px 2px 7px #d3d3d3;
        &:hover {
            background: lighten(#9356DC, 35%);
            transition: .5s linear;
            .functioning-insert-ball__icon {
                color: #9356DC;
                transition: .5s linear;
            }
        }
    }
    &-insert-ball {
        position: relative;
        margin-left: -10px;
        height: 27px;
        width: 27px;
        background: #9356DC;
        border-radius: 20px;
    }
    &-insert-ball__icon {
        width: 15px;
        height: 15px;
        color: #636363;
        margin-left: 20px;
    }
    &-insert-ball__numb {
        margin: 4px 0 0 9px;
        font-weight: bold;
        color: white;
    }
    &-insert__text {
        padding: 27px;
        margin: 0;
    }
}

// BREAKPOINT DESKTOP FONCTIONNEMENT
@media screen and (min-width: 1024px) {
    .functioning {
        max-width: 1024px;
        margin: auto;
    }
    .functioning-insert {
        display: flex;
        justify-content: space-between;
    }
}