.btn__about button {
    @include btn-about;
    &:hover {
        background: lighten(#9356DC, 10%);
        background-blend-mode: lighten;
        box-shadow: 4px 4px 6px #000000;
    }
    @include desktop {
        margin-top: 5%;
    }
}